---
import NexJsIconBlack from "./../public/images/NextJsIconBlack.svg";
import NexJsIconWhite from "./../public/images/NextJsIconWhite.svg";
import ReactIconBlack from "./../public/images/ReactIconBlack.svg";
import ReactIconWhite from "./../public/images/ReactIconWhite.svg";
import TypeScryptIconBlack from "./../public/images/TypeScryptIconBlack.svg";
import TypeScryptIconWhite from "./../public/images/TypeScryptIconWhite.svg";
import TailwindIconBlack from "./../public/images/TailwindIconBlack.svg";
import TailWindIconWhite from "./../public/images/TailWindIconWhite.svg";
import AstroJsIconBlack from "./../public/images/AtroJsIconBlack.svg";
import AstroJsIconWhite from "./../public/images/AstroJsIconWhite.svg";
import { Image } from "astro:assets";
---

<div>
  <div
    class="skillsTitle text-right text-4xl md:text-6xl border-b-8 link-underline link-underline-black"
  >
    Skills
  </div>
  <div>
    <div class="flex gap-12 p-24 flex-wrap">
      <div
        class="flex flex-col gap-4 items-center md:border-r-0 rounded-xl drop-shadow-3xl border-dark bg-projectCardBg p-4"
      >
        <Image
          class="darkIcon"
          height="150"
          width="150"
          alt="gitHubImage"
          src={NexJsIconBlack}
        />
        <Image
          class="whiteIcon"
          height="150"
          width="150"
          alt="gitHubImage"
          src={NexJsIconWhite}
        />
        <span class="text-3xl">NextJs</span>
      </div>
      <div
        class="flex flex-col gap-4 items-center md:border-r-0 rounded-xl drop-shadow-3xl border-dark bg-projectCardBg p-4"
      >
        <Image
          class="darkIcon"
          height="150"
          width="150"
          alt="gitHubImage"
          src={ReactIconBlack}
        />
        <Image
          class="whiteIcon"
          height="150"
          width="150"
          alt="gitHubImage"
          src={ReactIconWhite}
        />
        <span class="text-3xl">React</span>
      </div>

      <div
        class="flex flex-col gap-4 items-center md:border-r-0 rounded-xl drop-shadow-4xl border-dark bg-projectCardBg p-4"
      >
        <Image
          class="darkIcon"
          height="150"
          width="150"
          alt="gitHubImage"
          src={TypeScryptIconBlack}
        />
        <Image
          class="whiteIcon"
          height="150"
          width="150"
          alt="gitHubImage"
          src={TypeScryptIconWhite}
        />
        <span class="text-3xl">TypeScript</span>
      </div>

      <div
        class="flex flex-col gap-4 items-center md:border-r-0 rounded-xl drop-shadow-4xl border-dark bg-projectCardBg p-4"
      >
        <Image
          class="darkIcon"
          height="150"
          width="150"
          alt="gitHubImage"
          src={TailwindIconBlack}
        />
        <Image
          class="whiteIcon"
          height="150"
          width="150"
          alt="gitHubImage"
          src={TailWindIconWhite}
        />
        <span class="text-3xl">TailWind</span>
      </div>

      <div
        class="flex flex-col gap-4 items-center md:border-r-0 rounded-xl drop-shadow-4xl border-dark bg-projectCardBg p-4"
      >
        <Image
          class="darkIcon"
          height="150"
          width="150"
          alt="gitHubImage"
          src={AstroJsIconBlack}
        />
        <Image
          class="whiteIcon"
          height="150"
          width="150"
          alt="gitHubImage"
          src={AstroJsIconWhite}
        />
        <span class="text-3xl">AstroJs</span>
      </div>
    </div>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  const skillsTitle = document.querySelector(".skillsTitle");

  const skillsTitleObserver = new IntersectionObserver(
    (entrie) => {
      entrie.forEach((element) => {
        if (element.isIntersecting) {
          gsap.to(skillsTitle, {
            duration: 0.2,
            backgroundSize: "100% 6px",
            backgroundPosition: " 0 100%",
          });
        } else {
          gsap.to(skillsTitle, {
            duration: 0.2,
            backgroundSize: "0 0",
            backgroundPosition: " 0 0",
          });
        }
      });
    },
    {
      threshold: 0.1,
    },
  );
  skillsTitleObserver.observe(skillsTitle);
</script>
