---
import uniqid from "uniqid";
import { Image } from "astro:assets";
const { text, href, darkModeImage, lightModeImage, size } = Astro.props;
const id = uniqid();
---

<button-with-image data-id={id} data-href={href}>
  <button
    class="w-full text-2xl md:text-3xl drop-shadow-3xl hover:translate-y-[-5px] justify-between flex gap-2 bg-drawerBackground border-dark border-4 p-2 button-link-underline button-link-underline-black"
  >
    <span>{text}</span>
    <Image
      class="darkIcon"
      height={size}
      width={size}
      alt={text}
      src={darkModeImage}
    />
    <Image
      class="whiteIcon"
      height={size}
      width={size}
      alt={text}
      src={lightModeImage}
    />
  </button>
</button-with-image>

<style>
  .darkIcon {
    display: var(--visibleInLightMode);
  }
  .whiteIcon {
    display: var(--visibleInDarkMode);
  }
</style>

<script>
  import { gsap } from "gsap";

  class ButtonWithImage extends HTMLElement {
    constructor() {
      super();
      const el = document.querySelector(`[data-id="${this.dataset.id}"]`);

      el.addEventListener("click", () => {
        const tl = gsap.timeline();
        tl.to(el, {
          y: 6,
          duration: 0.15,
          onComplete: () =>
            el.firstElementChild.classList.remove("drop-shadow-3xl"),
        });
        tl.to(el, {
          y: 0,
          duration: 0.15,
          onComplete: () => {
            el.firstElementChild.classList.add("drop-shadow-3xl");
            if (this.dataset.href) {
              setTimeout(() => (location.href = this.dataset.href), 150);
            }
          },
        });
      });
    }
  }

  customElements.define("button-with-image", ButtonWithImage);
</script>
