---
import portfolioProjectImage from "./../public/images/portfolioProject.png";
import spotifyProjectImage from "./../public/images/spotifyProject.png";
import landingAndBlogProjectImage from "./../public/images/landingAndBlogProject.png";

import MainBlogCard from "../components/Blog/MainBlogCard.astro";
import Layout from "../layouts/Layout.astro";
import SingleBlogCard from "../components/Blog/SingleBlogCard.astro";
---

<Layout>
  <div class="allBlogs relative overflow-hidden">
    <div class="p-6">
      <MainBlogCard />
    </div>
    <div
      class="divider text-4xl md:text-6xl border-b-8 link-underline link-underline-black"
    >
      All Blogs
    </div>
    <div
      class="p-6 grid auto-rows-fr grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 overflow-hidden"
    >
      <SingleBlogCard
        image={portfolioProjectImage}
        title="Inline SVG animations and some other stuff that im not so sure "
        description="Hello i am a blog card and i have some stuff"
      />
      <SingleBlogCard
        image={spotifyProjectImage}
        title="Inline SVG animations and some other stuff that im not so sure "
        description="Hello i am a blog card and i have some stuff"
      />
      <SingleBlogCard
        image={landingAndBlogProjectImage}
        title="Inline SVG animations "
        description="Hello i am a bloi have some stuff"
      />

      <SingleBlogCard
        image={portfolioProjectImage}
        title="Inline SVG animations "
        description="Hello i am a bloi have some stuff"
      />
      <SingleBlogCard
        image={spotifyProjectImage}
        title="Inline SVG animations "
        description="Hello i am a bloi have some stuff"
      />
      <SingleBlogCard
        image={landingAndBlogProjectImage}
        title="Inline SVG animations "
        description="Hello i am a bloi have some stuff"
      />
      <SingleBlogCard
        image={portfolioProjectImage}
        title="Inline SVG animations "
        description="Hello i am a bloi have some stuff"
      />
      <SingleBlogCard
        image={spotifyProjectImage}
        title="Inline SVG animations "
        description="Hello i am a bloi have some stuff"
      />
      <SingleBlogCard
        image={landingAndBlogProjectImage}
        title="Inline SVG animations "
        description="Hello i am a bloi have some stuff"
      />
    </div>
  </div>
</Layout>

<script>
  import { gsap } from "gsap";
  import {
    cloudGeneratingFunction,
    starGeneratingFunction,
  } from "../utils/clouds";

  const divider = document.querySelector(".divider");
  gsap.to(divider, {
    duration: 0.2,
    backgroundSize: "100% 6px",
    backgroundPosition: " 0 100%",
  });

  let root = document.querySelector(".allBlogs");

  cloudGeneratingFunction(root, 3000, 7, 15);
  starGeneratingFunction(root, 15);
</script>
